<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LanguagePackVersion</key>
	<string>1.0</string>
	<key>LanguagePackBuild</key>
	<string>1</string>
	<key>TranslatorEmail</key>
	<string>rdelorenzo5@gmail.com</string>
	<key>TranslatorName</key>
	<string>@rudy.delorenzo (Instagram)</string>
	<key>Language</key>
	<string>Español (España)</string>
	<key>LanguageKey</key>
	<string>es-ES</string>
</dict>
</plist>
